.table-container {
  height: 100%;
  overflow: hidden;
}

.task-detail {
  width: 100%;
}

.thread-table-container {
  height: calc(100% - 95px);
  overflow: auto;
  width: 100%;
  display: block;
}

.mat-table {
  width: 100%;
}

.sched-events-mat-table {
  height: calc(100% - 56px);
}


.mat-row {
  min-height: 36px;
}

.thread-filter {
  font-size: 14px;
  width: calc(100% - 130px);
  height: 40px;
}

.task-filter {
  font-size: 14px;
  width: calc(100% - 60px);
  height: 40px;
  margin-left: 10px;
}

.mat-column-selected {
  max-width: 36px;
}

.timestamp {
  flex: 0 0 80px;
}

.detail {
  font-size: 10px;
  font-family: monospace;
}

.mat-paginator {
  border: none;
}

.metric-cell {
  padding-right: 10px;
  text-align: right;
}

th ::ng-deep .mat-sort-header-container {
  justify-content: flex-end;
}

.mat-column-selected, .mat-column-command, .mat-column-name {
  text-align: left;
}

.mat-column-selected ::ng-deep .mat-sort-header-container,
.mat-column-command ::ng-deep .mat-sort-header-container,
.mat-column-name ::ng-deep .mat-sort-header-container {
  justify-content: flex-start;
}

.mat-cell:first-of-type {
  padding-left: 10px;
}

.mat-header-cell:first-of-type {
  padding-left: 10px;
}

.mat-header-cell:last-of-type {
  padding-right: 0;
}

.mat-header-cell {
  line-height: 12pt;
}

.mat-cell {
  font-size: 12px;
}

.mat-cell:last-of-type {
  padding-right: 10px;
}

.expanded-row, .expanded-row td {
  border-bottom: none;
}

.detail-row {
  min-height: 0;
  height: auto;
}

:not(.expanded-row) + .detail-row, :not(.expanded-row) + .detail-row td {
  border: none;
}

.selectable-row {
  min-height: 24px;
}

.selectable-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

.selectable-row:not(.expanded-row):active {
  background: #efefef;
}

.thread-row {
  border-bottom-width: 0;
  height: 28px;
}

.thread-detail {
  padding-top: 10px;
  width: calc(100% - 10px);
}

.thread-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.thread-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.thread-description {
  padding: 16px;
}

.thread-description-attribution {
  opacity: 0.5;
}

.detail-table {
  height: 100%;
  width: 500px;
  z-index: 10;
}

.embedded-table {
  overflow: hidden;
}

.table-container {
  height: calc(100% - 33px);
}

.thread-table.table-container {
  height: calc(100% - 40px);
}

.table-container-events {
  height: 100%;
  margin-bottom: 10px;
}

.mat-header-cell {
  font-size: 10px;
}

.mat-header-row {
  min-height: 50px;
}

.filter-input {
  width: 100%;
  vertical-align: top;
  padding-top: 8px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 0px;
}

mat-form-field {
  padding: 4px;
}

.active {
  transition: all 0.5s ease-in-out;
}

.inverted {
  transition: all 0.5s ease-in-out;
  transform: rotate(180deg);
  opacity: 0.3;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -60%;
  position: relative;
  z-index: 2000;
}

.mat-column-visibleThreadCount {
  flex: 0 0 60px;
}

.expanded-controls {
  display: flex;
  justify-content: flex-end;
}

.expanded-details ::ng-deep .mat-tab-body-content {
  height: auto;
}

.trimmed-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
