.table-container {
  height: calc(100% - 100px);
  overflow: hidden;
}

.mat-table {
  height: calc(100% - 93px);
  overflow: auto;
}

.mat-row {
  min-height: 36px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.mat-row-link {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    top: 0;
    right: 0;
}

mat-cell:first-of-type {
  pointer-events: auto;
  padding-left: 10px;
}

mat-header-cell:first-of-type {
  padding-left: 10px;
}

mat-header-cell:last-of-type {
  padding-right: 0px;
}

mat-cell {
  pointer-events: none;
  font-size: 12px;
}

mat-cell:last-of-type {
  padding-right: 10px;
}

.table-container-events {
  height: 100%;
  margin-bottom: 10px;
}

.mat-icon {
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
}

.mat-header-cell {
  font-size: 10px;
}

.mat-header-row {
  min-height: 50px;
}

.no-data-label {
  position: absolute;
  width: 100%;
  top: 240px;
  font-family: Roboto;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  background-color: white;
  position: relative;
  /* Material Drop down menus have z-index 1000, so set to be one lower so they can still be seen */
  z-index: 999;
  width: 100%;
  height: 100%;
}

.metadata-row {
  cursor: pointer;
}

.metadata-row:hover {
  background: #f5f5f5;
}

.metadata-row:active {
  background: #efefef;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

.mat-column-select {
  overflow: initial;
  flex: 0 0 40px;
}

.selection-info {
  font-family: sans-serif;
  vertical-align: middle;
  margin-left: 10px;
}
